.classpath
.project
.settings
.springBeans
.DS_Store
**/*~
**/target
**/*.orig
**/*.swp
**/*.swo
/.metadata/
/.recommenders/
.eclipse-pmd
.factorypath
JET2Project
*._dnetx
*._avaj
services/junk
**/.DS_Store
